<template>
<div>
    <p :key="item.producto" v-for="item in productos">{{item}}</p>
</div>
</template>
<script>
import ProductoSevice from '../Services/ProductoService';
export default {
    name: 'CrudApp',
    data(){
        return{
            productos : null
        }
    },
        productoSevice : null,
        created(){
            this.productoSevice = new ProductoSevice();
        },
        mounted(){
            this.productoSevice.obtenerTodosProductos()
            .then(data =>{
            console.log(data.data);
            this.productos = data.data;
            console.log(this.productos );
            })
        }
}
</script>
<style scoped>

</style>
