<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio Spring</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio Spring Framework</h1>
        <p th:text="${mensaje}"></p>
        <p th:text="${saludo}"></p>
        <br>
        <!--Nombre:<span th:text="${persona.idProducto}"></span>
        <br>
        Apellido:<span th:text="${persona.cantidad}"></span>
        <br>
        Edad:<span th:text="${persona.descripcion}"></span>
        <br>
        Numero:<span th:text="${persona.producto}"></span>-->
        <h1>Lista Personas</h1>
        <div th:if="${personas != null and !personas.empty}">
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th> 
                <th>Edad</th>
                <th>Numero</th>
            </tr>
            <tr th:each="persona: ${personas}">
                <td th:text="${persona.idproducto}"></td>
                <td th:text="${persona.cantidad}"></td>
                <td th:text="${persona.descripcion}"></td>
                <td th:text="${persona.producto}"></td>
            </tr>
        </table>
            </div>
        <div th:if="${personas == null or personas.empty}">
            <h2>No hay registros, por el momento</h2>
        </div>
    </body>
</html>
